.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    padding: 20px;
    text-align: center;
    color: $color-light;
    background: $orange-gradient;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    &__legal {
        &__paragraph {
            font-size: 23px;
            line-height: 28px;
            margin: 0 auto;
            letter-spacing: 0;
            color: whitesmoke;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
        }
    }
    &__social {
        font-size: 25px;
        line-height: 28px;
        letter-spacing: 0;
        color: whitesmoke;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        &__link {
            padding: 5px;
            color: $color-light;
        }
    }
}