    // Generic prefixer mixin
    @mixin transform($property) {
        -webkit-transform: $property;
        -moz-transform: $property;
        -ms-transform: $property;
        -o-transform: $property;
        transform: $property;
    }
    
    // Font family definitions
    %font-raleway {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
    
    %font-philosopher {
        font-family: 'Philosopher', sans-serif;
        font-weight: 400;
    }
    
    // General element properties
    html {
        font-size: 62.5%;
        position: relative;
        min-height: 100%;
    }
    
    body {
        @extend %font-raleway;
        overflow-x: hidden;
        line-height: 2.1rem;
    }
    
    h1 {
        @extend %font-raleway;
        font-size: 4rem;
        line-height: 4rem;
        margin: 4rem 0 1rem 0;
        text-align: center;
    }
    
    .strikethrough {
        text-decoration: line-through;
    }
    
    h2 {
        @extend %font-raleway;
        font-size: 2.25rem;
        padding: 1rem 0 1rem 0;
    }
    
    h3 {
        @extend %font-raleway;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }
    
    p {
        @extend %font-raleway;
        font-size: 1.5rem;
        font-weight: normal;
    }
    
    a {
        text-decoration: none;
    }