//Colors-Shadows
$text-gray:rgb(82, 82, 82);
$color-light: whitesmoke;
$main-color:#f1a15b;
$yellow-secondary:#ffc107;
$orange-gradient:linear-gradient(#f1a15b 15%, #ee8122 80%);
$green-gradient:linear-gradient(225deg, #017f00 0%, #00c798 100%);
$facebook-color:#4867aa;
$instagram-color: #cb3688;
$whatsapp-color:#00e275;
$text-shadow: 1px 1px 3px #333333;
$box-shadow-img:0 4px 3px 0 rgba(0, 0, 0, 0.2);
$box-shadow-nav:0 0.5rem 1rem rgba(0, 0, 0, 0.15);
//border-elements
$element-radius: 0.6rem;
//header draw
$drawer-width: 180px;
$drawer-height: 60px;
$dark-green-color:#2B7409;
$drawer-open-transition: all cubic-bezier(0.92, -0.15, 0.21, 0.86) 0.25s;